*{
    padding: 0;
    margin: 20px;
}

.dados{
    padding: 20px;
}

.print{
    display: none;
    margin: 10px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 30px;
}

.print h1{
    margin-bottom: 20px;
}

.print h2{
    padding: 10px;
   /* border: 1px solid black; */
   /* border-radius: 20px; */
    display: inline-block;
    margin-left: 10px;
}

.assinatura{
    text-align: center;
}

#container{
    display: none;
    position: absolute;
    position: relative;
    top: 0;
}

@media print{
    .print{
        display: block;
    }

    .dados{
        display: none;
    }
}